/* GLOBAL */

body {
  font-family: 'Open Sans', sans-serif;
}

body, h1, h2, p, span, ul, li, blockquote, img {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 5px;
}

.colunas {
  grid-column: 1 / -1;
}

.cor-texto {
  font-size: 1rem;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.7);
}

.cor-texto-2 {
  max-width: 30ch;
  line-height: 1.6;
  font-size: 0.8rem;
  color: #b07dfb;
}


/* POSICIONAMENTO GRID */
.header {
  grid-area: header;
}

.sidenav {
  grid-area: sidenav;
}

.conteudo {
  grid-area: conteudo;
}

.anuncios {
  grid-area: anuncios;
}

.footer {
  grid-area: footer;
}

.estrutura {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 300px;
  
  grid-template-areas: 
  "header header header"
  "sidenav conteudo anuncios"
  "footer footer footer";
}

/* MENU */

.logo {
  max-width: 200px;
  align-self: center;
}

.header {
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.menu-1 {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: end;
}

.menu-1 li {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 15px 15px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 5px;
  transition: 0.1s ease-in-out;
}

.menu-1 li:hover {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

/* SIDENAV */

.sidenav {
  background: #fafbfc;
  padding: 30px;
}

.sidenav li a {
  background: #ffffff;
  box-shadow: 5px 5px 15px 0px rgb(44 44 44 / 15%);
  min-width: 60px;
  max-width: 100px;
  margin: 0 auto 30px auto;
  padding: 20px;
  border-radius: 5px;
}

.sidenav li a:hover {
  background: #b07dfb;
  border-radius: 5px;
}

/* CONTEÚDO */

.conteudo {
  max-width: 900px;
  display: grid;
  padding: 30px;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
}

.conteudo h1 {
  max-width: 16px;
  font-size: 3.5rem;
  color: #b07dfb;
  line-height: 1;
}

.conteudo span {
  color: #b07dfb;
  font-style: italic;
  font-size: 0.8rem;
}

.caracteristicas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  align-content: start;
  gap: 30px;
  max-width: 80px;
}

.peso {
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 15px 0 rgb(44 44 44 / 15%);
  border-radius: 5px;
}

.peso .numero {
  font-size: 3rem;
  font-weight: 700;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  color: #b07dfb;
  border-radius: 5px 5px 0 0;
  padding: 5px 15px;
}

.peso .rotulo {
  background: #ffffff;
  margin: 5px 0px;  
}

.idade {
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 15px 0 rgb(44 44 44 / 15%);
  border-radius: 5px;
}

.idade .numero {
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  font-size: 3rem;
  border-radius: 5px 5px 0px 0px;
  padding: 5px 15px;
}

.idade .rotulo {
  margin: 5px 0px;
}

.imagem-1 {
  grid-row: span 2;
  align-self: end;
}

.blockquote {
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  font-size: 1.3rem;
  font-style: italic;
  color: #ffffff;
  margin: 0 auto;
  padding: 40px 60px;
  border-radius: 5px;
  text-align: center;
}

.lista-informacoes {
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  padding: 30px;
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 5px;
}

.lista-informacoes li + li {
  border-top: 2px solid #b07dfb;
}

.lista-informacoes li {
  padding: 15px;
  font-size: 1.125rem;
}

.informacoes {
  display: grid;
}

.informacoes p + p {
  align-self: end;
  
}

.imagem-3 {
  justify-self: center;
}


/* ANÚNCIOS */

.anuncios {
  display: grid;
  background: #fafbfc;
  gap: 30px;
  padding: 30px;
  align-content: start;
}

/* FOOTER */

.footer {
  color: #ffffff;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  padding: 30px;
  text-align: center;
}

/* MOBILE */

@media (max-width: 1000px) {
  .conteudo h1 {
    max-width: initial;
    font-size: 3.5rem;
    color: #b07dfb;
    line-height: 1;
  }
  
  .estrutura {  
    grid-template-areas: 
    "header header header"
    "sidenav conteudo conteudo"
    "sidenav anuncios anuncios"
    "footer footer footer";
  }
  
  .anuncios {
    grid-template-columns: 1fr 1fr;
  }
}

@keyframes seta {
  from {
    right: 30px;
  }
  to {
    right: 20px;
  }
}

@media (max-width: 720px) {
  .header {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;
  }
  
  .menu-1 {
    margin-top: 20px;
    gap: 15px;
  }
  
  .estrutura {  
    grid-template-areas: 
    "header header header"
    "sidenav sidenav sidenav"
    "conteudo conteudo conteudo"
    "anuncios anuncios anuncios"
    "footer footer footer";
  }
  
  .sidenav {
    position: relative;
    padding-bottom: 0px;
  }
  
  .sidenav ul {
    display: flex;
    gap: 30px;
    overflow-x: auto;
  }

  .sidenav::after {
    content: "→";
    position: absolute;
    top: 5px;
    right: 30px;
    color: rgba(0, 0, 0, 0.3);
    animation: 0.5s ease-in 0s infinite alternate none running seta;
  }
}

@media (max-width: 550px) {
  .conteudo {
    grid-template-columns: auto;
  }

    .cor-texto-2 {
      max-width: initial;
      font-size: 1rem;
    }

    .informacoes p + p {
      margin-top: 20px;
    }
}

@media (max-width: 400px) {
  .conteudo {
    padding: 15px;
    gap: 20px;
  }
}














